In [2]:
import pandas as pd
import numpy as np
from gensim.models import Word2Vec
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv('./nlp.csv')

In [4]:
df.head()

                                               title
0             Remember your command line switches...
1                    So what was Matt "addicted" to?
2                                     No Club Colors
3        Not door bell, but floodlight mount height.
4  Worried about my 8700k small fft/data stress r...

In [5]:
import re
def cleaning(text):
    cleaned_text = re.sub('[^a-z,0-9\s]+', ' ', text, flags=re.IGNORECASE)
    cleaned_text = re.sub('(\s+)',' ', cleaned_text)
    cleaned_text = cleaned_text.strip()
    cleaned_text = cleaned_text.lower()
    
    stop_word = ['a', 'about', 'above', 'across', 'after', 'afterwards', 'again', 'against', 'all', 'almost', 'alone',
             'along', 'already', 'also', 'although', 'always', 'am', 'among', 'amongst', 'amoungst', 'amount',
             'an', 'and', 'another', 'any', 'anyhow', 'anyone', 'anything', 'anyway', 'anywhere', 'are', 'around',
             'as', 'at', 'back', 'be', 'became', 'because', 'become', 'becomes', 'becoming', 'been', 'before',
             'beforehand', 'behind', 'being', 'below', 'beside', 'besides', 'between', 'beyond', 'bill', 'both',
             'bottom', 'but', 'by', 'call', 'can', 'cannot', 'cant', 'co', 'con', 'could', 'couldnt', 'cry', 'de',
             'describe', 'detail', 'did', 'do', 'does', 'doing', 'don', 'done', 'down', 'due', 'during', 'each', 'eg',
             'eight', 'either', 'eleven', 'else', 'elsewhere', 'empty', 'enough', 'etc', 'even', 'ever', 'every', 'everyone',
             'everything', 'everywhere', 'except', 'few', 'fifteen', 'fify', 'fill', 'find', 'fire', 'first', 'five', 'for',
             'former', 'formerly', 'forty', 'found', 'four', 'from', 'front', 'full', 'further', 'get', 'give', 'go', 'had',
             'has', 'hasnt', 'have', 'having', 'he', 'hence', 'her', 'here', 'hereafter', 'hereby', 'herein', 'hereupon',
             'hers', 'herself', 'him', 'himself', 'his', 'how', 'however', 'hundred', 'i', 'ie', 'if', 'in', 'inc', 'indeed',
             'interest', 'into', 'is', 'it', 'its', 'itself', 'just', 'keep', 'last', 'latter', 'latterly', 'least', 'less',
             'ltd', 'made', 'many', 'may', 'me', 'meanwhile', 'might', 'mill', 'mine', 'more', 'moreover', 'most', 'mostly',
             'move', 'much', 'must', 'my', 'myself', 'name', 'namely', 'neither', 'never', 'nevertheless', 'next', 'nine',
             'no', 'nobody', 'none', 'noone', 'nor', 'not', 'nothing', 'now', 'nowhere', 'of', 'off', 'often', 'on', 'once',
             'one', 'only', 'onto', 'or', 'other', 'others', 'otherwise', 'our', 'ours', 'ourselves', 'out', 'over', 'own',
             'part', 'per', 'perhaps', 'please', 'put', 'rather', 're', 's', 'same', 'see', 'seem', 'seemed', 'seeming',
             'seems', 'serious', 'several', 'she', 'should', 'show', 'side', 'since', 'sincere', 'six', 'sixty', 'so', 
             'some', 'somehow', 'someone', 'something', 'sometime', 'sometimes', 'somewhere', 'still', 'such', 'system',
             't', 'take', 'ten', 'than', 'that', 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'thence', 'there',
             'thereafter', 'thereby', 'therefore', 'therein', 'thereupon', 'these', 'they', 'thickv', 'thin', 'third', 'this',
             'those', 'though', 'three', 'through', 'throughout', 'thru', 'thus', 'to', 'together', 'too', 'top', 'toward',
             'towards', 'twelve', 'twenty', 'two', 'un', 'under', 'until', 'up', 'upon', 'us', 'very', 'via', 'was', 'we',
             'well', 'were', 'what', 'whatever', 'when', 'whence', 'whenever', 'where', 'whereafter', 'whereas', 'whereby',
             'wherein', 'whereupon', 'wherever', 'whether', 'which', 'while', 'whither', 'who', 'whoever', 'whole', 'whom',
             'whose', 'why', 'will', 'with', 'within', 'without', 'would', 'yet', 'you', 'your', 'yours', 'yourself',
             'yourselves']
    
    tmp = cleaned_text.split(' ')
    tmp = [word for word in tmp if word not in stop_word]
    return tmp

In [6]:
for i in range(len(df)):
    df.loc[i]['title'] = cleaning(df.loc[i]['title'])

In [7]:
df.head()

                                               title
0                [remember, command, line, switches]
1                                   [matt, addicted]
2                                     [club, colors]
3           [door, bell,, floodlight, mount, height]
4  [worried, 8700k, small, fft, data, stress, res...

In [57]:
mlists = df.title.values
mlists.shape

(1000,)

In [78]:
newdf = df[(df.title.map(len)!=0)]
newdf.shape

(997, 1)

In [70]:
ylists = newdf.title.values

In [71]:
ylists.shape

(997,)

In [68]:
ylists.reset_index()

AttributeError: 'numpy.ndarray' object has no attribute 'reset_index'

In [9]:
model = Word2Vec(window=5,min_count=2,workers=4)

In [10]:
model.build_vocab(df.title.values)

In [11]:
model = Word2Vec(min_count=1,vector_size= 50,workers=3, window =3, sg = 1)

In [12]:
model.build_vocab(df.title.values)

In [13]:
model.train(df.title.values,total_examples=model.corpus_count, epochs=5)

(23447, 24205)

In [14]:
model.wv.most_similar('colors')

[('underlying', 0.4881010353565216),
 ('obc', 0.4530188739299774),
 ('city,', 0.43110427260398865),
 ('lynda', 0.4021981656551361),
 ('prelude', 0.4011823832988739),
 ('doubles', 0.4010949432849884),
 ('asthma', 0.39891719818115234),
 ('films', 0.3808590769767761),
 ('charm', 0.3775430917739868),
 ('massive', 0.3755556344985962)]

In [53]:
newli = []
i=0
for x in mlists:
    i+=1
    if len(x)!=0:
       newli.append(x)
    else:
        print(i)

In [54]:
len(newli)

997

In [17]:
def document_vector(doc):
    doc = [word for word in doc if word in model.wv.index_to_key]
    return np.mean(model.wv[doc],axis=0)

In [72]:
X = []
for doc in ylists:
    X.append(document_vector(doc))

In [73]:
X = np.array(X)

In [74]:
X.shape

(997, 50)

In [166]:
X.shape

(1000,)

In [23]:
kmeans = KMeans(n_clusters=2)

In [75]:
y= kmeans.fit_predict(X)

In [79]:
len(y)

997

In [76]:
newdf['label'] = y

/tmp/ipykernel_3917/2891291695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['label'] = y

In [77]:
newdf

                                                 title  label
0                  [remember, command, line, switches]      1
1                                     [matt, addicted]      1
2                                       [club, colors]      1
3             [door, bell,, floodlight, mount, height]      0
4    [worried, 8700k, small, fft, data, stress, res...      1
..                                                 ...    ...
995                         [arcgis, functional, test]      0
996            [help, picking, class, bg, ee, bg2, ee]      0
997                                  [draw, portraits]      1
998                               [calibre, web, cops]      0
999  [long, time, fans, star, trek,, love, impacted...      0

[997 rows x 2 columns]